.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.header a:hover {
  color: #666;
}

.header nav:last-child {
  margin-left: auto;
}


img{
  height: 40px;
  width: 90px;
}
button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0062cc;
}

.header nav:last-child {
  margin-right: 10px;
}

.header nav:last-child button {
  margin-left: 16px;
}

